/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------------------
// |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |  BSPC |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
// |   `   |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | RAISE |
//                     | ALT  | ALT  | CTRL |  SPACE |  | ENTER | LOWER| GUI   | GUI   |
            bindings = <
&kp ESC   &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                        &kp N6 &kp N7   &kp N8    &kp N9  &kp N0   &kp BSPC
&kp TAB   &kp Q  &kp W  &kp E    &kp R    &kp T                         &kp Y  &kp U    &kp I     &kp O   &kp P    &kp MINUS
&kp GRAVE &kp A  &kp S  &kp D    &kp F    &kp G                         &kp H  &kp J    &kp K     &kp L   &kp SEMI &kp SQT
&kp LSHFT &kp Z  &kp X  &kp C    &kp V    &kp B     &kp LBKT   &kp RBKT &kp N  &kp M    &kp COMMA &kp DOT &kp FSLH &mo 2
                        &kp LALT &kp LALT &kp LCTRL &kp SPACE  &kp RET  &mo 1  &kp GUI &kp GUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
// ------------------------------------------------------------------------------------------------------------
// |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |      |       |       |
// |  TAB  |  ,  |  .  |  /   |  {   |  }   |                   |  _   |  +    |  ^    |  -   |  =    |       |
// |  CAPS |  <  |  >  |  ?   |  [   |  ]   |                   |      |  <-   |  v    |  ->  |   :   |       |
// |       |     |  '  |  "   |  (   |  )   |        |  |       |      |       |       |      |       |       |
//                     |      |      |      |        |  |       |      |       |       |
            bindings = <
&kp GRAVE  &kp EXCL         &kp AT            &kp HASH          &kp DOLLAR   &kp PRCNT                    &kp CARET &kp AMPS  &kp ASTRK    &trans    &trans    &trans
&kp TAB    &kp COMMA        &kp DOT           &kp FLSH          &kp LBRC     &kp RBRC                     &kp UNDER &kp PLUS  &kp UP       &kp MINUS &kp EQUAL &trans
&kp CAPS   &LT              &kp GT            &kp QMARK         &kp LBKT     &kp RBKT                     &trans    &kp LEFT  &kp DOWN     &kp RIGHT &kp COLON &trans
&trans     &trans           &kp SQT           &kp DQT           &kp LPAR     &kp RPAR  &trans   &trans    &trans    &trans    &trans       &trans    &trans    &trans
                                              &trans            &trans       &trans    &trans   &trans    &trans    &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
// ------------------------------------------------------------------------------------------------------------
// |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |       |       |      |       |       |
// |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |        |  |       |      |       |       |      |       |       |
//                     |      |      |      |        |  |       |      |       |       |
            bindings = <
&kp F1    &kp F2 &kp F3 &kp F4  &kp F5  &kp F6                       &trans      &trans    &trans    &trans   &trans    &trans
&kp F7    &kp F8 &kp F9 &kp F10 &kp F11 &kp F12                      &trans      &trans    &trans    &trans   &trans    &trans
&trans    &trans &trans &trans  &trans  &trans                       &trans      &trans    &trans    &trans   &trans    &trans
&kp F7    &kp F8 &kp F9 &kp F10 &kp F11 &kp F12   &trans   &trans    &trans      &trans    &trans    &trans   &trans    &trans
                        &trans  &trans  &trans    &trans   &trans    &trans      &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
